#toast-box {
    position: fixed;
    right: 0;
    top: 0;
    width: min(100vw, 15rem);
    height: auto;
    max-height: 100vh;
    overflow: scroll;
    -webkit-scrollbar-width: none;
    scrollbar-width: none;

    > .toast {
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 4px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        min-width: 9rem;
        width: max-content;
        max-width: calc(100% - 10px);
        border-radius: 0.2rem;
        --padding: 0.3rem;
        padding: var(--padding);
        margin: 5px 5px 5px auto;
        display: flex;
        align-items: center;
        opacity: 1;
        transition: opacity 0.3s, margin 0.3s, width 0.3s;

        &#toast-example {
            display: none;
        }

        > .img {
            --length: 2.5ex;
            height: var(--length);
            margin: 0 var(--padding) 0 0;
            display: inline-block;
            border-radius: 50%;
            background: white;
            box-shadow: black 0 0 2px 0;

            > * {
                display: none;
                height: calc(var(--length) + 2px);
                width: calc(var(--length) + 2px);
                margin: -1px;
            }
            &.warn > .warn-img {
                display: inline-block;
                fill: gold;
            }
            &.error > .error-img {
                display: inline-block;
                fill: red;
            }
            &.info > .info-img {
                display: inline-block;
                fill: cornflowerblue;
            }
            &.success > .success-img {
                display: inline-block;
                fill: forestgreen;
            }
        }
    }
}
